<div id="footer">
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>

<p class="cp">
    <!--Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> <em>v9</em> &copy; {date('Y', SYS_TIME)} <img src="{IMG_PATH}copyright.gif"/>-->
    &copy; 2014-2015 <strong>itgoodboy.com</strong> 版权所有&nbsp;&nbsp;豫ICP备14014264号-1&nbsp;&nbsp;
</p>
</div>

<!--百度统计代码-->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbf923227d5ecb0a725bb3ca3dc85e7d8' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>